.list-item {
  .card-body {
    color: #333333;
    padding-top: 0;
  }
}

.repoDir {
  width: 253px;
  margin: 18px;
  border: 2px black solid;
  padding: 39px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .fileIcon {
      width: 80px;
  }
}

.pagination {
  display: flex;
  list-style: none;
  justify-content: center;
  li {
    border: none;
  }
  li.active {
    border-bottom: 2px magenta solid;
  }
  li.disabled {
    color: lightgrey;
  }
}

.Select-control {
  min-width: 200px;
  height: 40px !important;
  border-radius: 0 !important;
  border: 1px solid #c2c2c2 !important;
  &:focus, &:active {
    border-color: #d62b00 !important;
    outline: 0 !important;
    box-shadow: 0 0 0 0.2rem rgba(255, 53, 0s,.25) !important;
  }
  .select-input input {
    &:focus, &:active {
      background-color: rgba(255, 53, 0s,.25) !important;
      outline: 0 !important;
    }
  }
}
.Select-menu-outer div{
  background-color: white;
  &.is-focused {
    background-color: rgba(255, 53, 0s,.25) !important;
  }
  //background-color: rgba(255, 53, 0s,.5) !important;
  &:focus, &:active, &:hover {
    background-color: rgba(255, 53, 0s,.25) !important;
    outline: 0 !important;
  }
}

div.Select-menu-outer {
  z-index: 99;
}

.select-form-group-container {
  margin-right: 15px;
}

.welcome-screen {
  background-color: #f3f3f3;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .row {
    width: 575px;
    background-color: white;
    height: 406px;
    box-shadow:  2px 5px 14px -4px rgba(0, 0, 0, 0.50);
    .column-1 {
      height: 35px;
    }
    .column-2 {
      padding-top: 33px;
    }
    .column-3 {
      margin: -46px 0px 23px;
      a:hover{
        color: transparent;
      }
    }
    button.btn{
      padding: 5px 19px;
      border: none;
      color: white;
      background-color: #ff3500;
      border-radius: 4px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 250px;
      &:hover {
        padding: 5px 19px;
        border: none;
        color: white;
        background-color: #cc330b;
        border-radius: 4px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 250px;
      }
    }
  }

}

.field-group{
  .form-group {
    label {
      //width: 93%;
      width: 100%;
    }
  }
  .form-control {
    height: 40px;
    border-radius: 0;
    border: 1px solid #c2c2c2;
    &:focus, &:active {
      border-color: #d62b00;
      outline: 0;
      box-shadow: 0 0 0 0.2rem rgba(255, 53, 0s,.25);
    }
  }
}
