.search-mol {
  display: flex;
  justify-content: center;
  align-content: center;

  // &input[text]{
  //   background-color: magenta;
  // }

}

.todo-section {
  display: flex;
  border: 2px solid grey;
  padding: 10px;
  .favorite, .subtitle, .summary {
    width: 100px
  }
}


.repoDir {
  width: 177px;
  margin: 18px;
  border: 2px lightgrey solid;
  padding: 39px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .fileIcon {
      width: 80px;
  }
}

.pagination {
  display: flex;
  list-style: none;
  justify-content: center;
  li {
    border: none;
  }
  li.active {
    border-bottom: 2px magenta solid;
  }
  li.disabled {
    color: lightgrey;
  }
}