.todo-section {
  display: flex;
  border: 2px solid grey;
  padding: 10px;
  .favorite, .subtitle, .summary {
    width: 100px
  }
}


.repoDir {
  width: 177px;
  margin: 18px;
  border: 2px lightgrey solid;
  padding: 39px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .fileIcon {
      width: 80px;
  }
}

.pagination {
  display: flex;
  list-style: none;
  justify-content: center;
  li {
    border: none;
  }
  li.active {
    border-bottom: 2px magenta solid;
  }
  li.disabled {
    color: lightgrey;
  }
}

.Select-control {
  min-width: 200px;
}

div.Select-menu-outer {
  z-index: 99;
}

.select-form-group-container {
  margin-right: 15px;
}

.welcome-screen {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.field-group{
  .form-group {
    label {
      width: 93%;
    }
  }
}