.app {
  .list {
    text-align: left;
  }

  .logo-container{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .logo{
    height: 80px;
    margin: 0 20px;
  }

  .header {
    background-color: black;
    height: 150px;
    padding: 20px;
    color: white;
  }
  
  .title {
    font-size: 1.5em;
  }
  
  .intro {
    font-size: large;
  }
}