.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  .body-template {
    padding: 50px 32px 40px 25px;
  }
  .content-wrapper{
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    transition: all 0.5s ease;
  }
}
