
.avatar {
	height: 55px;
	border-radius: 50%;
	margin: 6px 25px;
	margin-left: 0;
} 

.card {
	margin: 10px;
	color: black;
	width: 383px;
	.card-title {
		flex: 1 1 auto;
		padding: 1.25rem;
		background-color: #f0f0f0;
	}   
}

.summary {
	min-height: 60px;
}


.fa-icon-sm{
  display: inline;
  margin: 6px;
}

.logo-sm {
	height: 29px;
	margin: 4px 10px;
}
.logo-md {
	height: 41px;
	margin: 15px 19px;
}
.logo-lg {
	height: 85px;
	margin: 15px 19px;
}

a.link,
a.link:hover {
	text-decoration: none;
}

.subtitle {
	color: black;
	font-size: 18px;
}

