

.file-tree-navigation {
  margin: 0 51px;
}

.home-template {
  padding: 30px;
}

.collections-section {
  border-top: 1px #c5c5c5 solid;
  margin: 31px;
  padding: 0;
  .nav-tabs {
    .nav-item {
      background-color: #f0f0f0;
      color: #c5c5c5;
      border: 1px #c5c5c5 solid;
      &.active{
        border: none;
        border-left: 3px #075ec4 solid;
      }
    }
    .nav-link{
      &.active{
        background-color: white;
        color: #075ec4;
        border: none;
      }
    }
  }
}