.top-nav-section {
  text-align: center;  
  background-color: #333333;

  .form-group {
    margin: 0;
  }

  .Select-control {
    width: 265px;
    text-align: start;
  }

  .select-form-group-container * {
    margin: 0;
  }

  .nav-bar{
    justify-content: flex-end;
    width: 100%;
    flex-grow: 1;
    padding: 10px;
    .nav-link{
      width: 75px;
      text-decoration: none;
      cursor: pointer;
      color: grey;
      &:hover {
        background-color: lightgrey;
      }
    }
    .avatar-menu {
      display: flex;
      flex-direction: row;
      margin: 8px 12px;
      align-items: center;
      background-color: transparent;
      color: grey;
      border: none;
      &:focus{
        box-shadow: transparent;
      }
    }    
  }
}

.side-menu-section {
  min-width: 227px;
  max-width: 227px;
  background-color: #333333;
  padding: 0;
  a.nav-link{
    color: #787878;
    padding: 21px;
    &:hover{
      background-color: black;
      color: white;
    }
  }

}