.top-nav-section {
  text-align: center;  
  border-bottom: 2px lightgrey solid;
  background-color: black;
  .nav-bar{
    justify-content: flex-end;
    width: 100%;
    flex-grow: 1;
    padding: 10px;
    .nav-link{
      width: 75px;
      text-decoration: none;
      cursor: pointer;
      color: grey;
      &:hover {
        background-color: lightgrey;
      }
    }
    .avatar-menu {
      display: flex;
      flex-direction: row;
      margin: 8px 12px;
      align-items: center;
      background-color: transparent;
      color: grey;
      border: none;
      &:focus{
        box-shadow: transparent;
      }
    }    
  }
}

.side-menu-section {
  border-right: 2px solid lightgrey;
  max-width: 265px;
}