.top-nav-section {
  text-align: center;  
  background-color: #333333;

  .form-group {
    margin: 0;
  }

  .Select-control {
    width: 265px;
    text-align: start;
  }

  .select-form-group-container * {
    margin: 0;
  }

  .nav-bar{
    justify-content: flex-end;
    width: 100%;
    flex-grow: 1;
    padding: 10px;
    .nav-link{
      width: 75px;
      text-decoration: none;
      cursor: pointer;
      color: grey;

      &.disabled:hover{
        cursor: default;
        color: grey;
        background-color: #333333;
      }
    }

    .avatar-menu {
      display: flex;
      flex-direction: row;
      margin: 8px 12px;
      align-items: center;
      background-color: transparent;
      color: grey;
      border: none;
      &:focus{
        box-shadow: transparent;
      }
    }    
  }
}

.collapse-horizontal {
  position: relative;
  border-right: 2px #d3d3d366 solid;
  box-shadow: #d3d3d366 2px 0px 8px;
  transition: width 1s ease;
}

.isCollapsed, 
.collapsedWrapper {
  width: 88px;
}

.isCollapsed {
  overflow: hidden;
  border-right: 2px #d3d3d366 solid;
}

.collapsable-arrow {
  z-index: 4;
  position: absolute;
  border: 2px #d3d3d366 solid;
  box-shadow: #d3d3d366 3px 3px 7px;
  border-left: none;
  right: -45px;
  top: 31px;
  width: 45px;
  height: 47px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}


.side-menu-section {
  padding-top: 17px;
  width: 210px;
  height: 100%;
  // max-width: 210px;
  background-color: white;
  margin-left: 21px;
  .collapsable-content {
    margin-top: 13px;
  }
  .nav-link {
    color: black;
    padding: 15px 15px 15px 12px;
    &:hover,
    &.active {
      cursor: pointer;
      background-color: white;
      color: #ff3500;
    }
    &.disabled {
      background-color: white;
      color: #6c757d8c;
      &:hover {
        cursor: default;
        background-color: white;;
        color: #6c757d8c;
      }
    }
    .navlink.nested {
      padding-left: 15px
    }
    .nav-link-title {
      // font-family: Lato;
      font-size: 16px;
      font-weight: bold;
    }
  }
}


.repo-list-header {
  padding: 0 10px;
  margin-bottom: 27px;
  .title {
    font-size: 30px;
  }
}