.wysiwyg-section {
  min-height: 400px;
  height: 100%;
  border: none;

  // iframe,
  // .mce-container-body,
  // .mce-tinymce.mce-container.mce-panel {
  //   height: calc(100% - 15px);
  //   box-shadow: none;
  // }
  // .mce-edit-area.mce-container.mce-panel.mce-stack-layout-item {
  //   height: 90%;
  // }
}

/*Container, container body, iframe*/
.mce-tinymce, .mce-container-body, #code_ifr {
    min-height: 100% !important;
}
/*Container body*/
.mce-container-body {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}
/*Editing area*/
.mce-container-body .mce-edit-area {
    position: absolute;
    top: 69px;
    bottom: 37px;
    left: 0;
    right: 0;
}
/*Footer*/
.mce-tinymce .mce-statusbar {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}