.wysiwyg-section {
  min-height: 400px;
  height: 100%;
  border: 1px lightgrey solid;
  .demo-wrapper {
    min-height: 400px;
    height: 100%;
  }
  .demo-editor {
    height: 93%;
    min-height: 321px;
    padding: 6px 23px;
  }
}
