@import './reset.scss';
@import './variables.scss';
@import './pages/App.scss';
@import './ecosystems/Description.scss';
@import './organisms/Header.scss';
@import './organisms/Footer.scss';
@import './molecules/search.scss';
@import './molecules/todo.scss';
@import './atoms/buttons.scss';

#root{
  height: 100%;
}

.app {
  display: flex;
  flex-direction: column;
  height: 100%;
  .body-template {
    flex-grow: 1
  }
}